<div id="clients">
    <div class="table-responsive">
        <div class="users-top">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addTransactionModalIn">INPUT</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addTransactionModalOut">OUTPUT</button>
            <button type="button" class="btn btn-default pull-right" ng-click="getTransactions()">UPDATE LIST</button>
        </div>
        <div class="filters-menu">

        </div>
        <table class="table table-striped table-hover" ng-init="getTransactions()">
            <thead>
            <tr>
            <tr>
                <th ng-click="changeSortType('dt')">Date
                    <span ng-show="sortType == 'dt' && !sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span ng-show="sortType == 'dt' && sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </th>
                <th ng-click="changeSortType('user_name')">User
                    <span ng-show="sortType == 'user_name' && !sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span ng-show="sortType == 'user_name' && sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </th>
                <th ng-click="changeSortType('client_name')">Client
                    <span ng-show="sortType == 'client_name' && !sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span ng-show="sortType == 'client_name' && sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </th>
                <th ng-click="changeSortType('amount')">Amount
                    <span ng-show="sortType == 'amount' && !sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span ng-show="sortType == 'amount' && sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </th>
                <th ng-click="changeSortType('type')">Type
                    <span ng-show="sortType == 'type' && !sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span ng-show="sortType == 'type' && sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </th>
                <th>Comment</th>
                <th>Transaction Info</th>
                <th>Delete Transaction</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, transaction) in transactionList | orderBy:sortType:sortReverse">
                <td>
                    {{transaction.dt | date:"dd.MM.yyyy 'at' HH:mm"}}
                </td>
                <td>
                    {{transaction.user_name}}
                </td>
                <td>
                    {{transaction.client.client_name}}
                </td>
                <td>
                    {{transaction.amount}}
                </td>
                <td>
                    {{transaction.type}}
                </td>
                <td>
                    {{transaction.comment}}
                </td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editTransactionModal" ng-click="prepareEditTransaction(transaction)">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>
                </td>
                <th>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteTransactionModal" ng-click="prepareDeleteTransaction(transaction.id, transaction.login)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="addTransactionModalIn" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">INPUT TRANSACTION</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="transactionAddForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputAmount">Amount</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputAmount"
                                   placeholder="Amount" ng-model="transactionToAdd.amount"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputType">Type</label>
                        <select class="form-control" ng-model="transactionToAdd.type" id="inputType">
                            <option value="Client paid">Client paid</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="transactionToAdd.type == 'Client paid'">
                        <label class="col-sm-2 control-label" for="inputType">Client</label>
                        <select class="form-control" ng-model="transactionToAdd.client" id="inputType">
                            <option value="{{client}}" ng-repeat="client in clientList">{{client.FirstName}} {{client.LastName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputComment">Comment</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputComment"
                                   placeholder="Comment" ng-model="transactionToAdd.comment"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="addTransaction('input')">ADD</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="addTransactionModalOut" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">OUTPUT TRANSACTION</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="transactionAddForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputAmount">Amount</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputAmount"
                                   placeholder="Amount" ng-model="transactionToAdd.amount"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputType">Type</label>
                        <select class="form-control" ng-model="transactionToAdd.type" id="inputType">
                            <option value="Equipment">Equipment</option>
                            <option value="Clinic">Clinic</option>
                            <option value="Communal">Communal</option>
                        </select>
                    </div>
                    <!--<div class="form-group" ng-show="transactionToAdd.type == 'Client paid'">-->
                        <!--<label class="col-sm-2 control-label" for="inputType">Client</label>-->
                        <!--<select class="form-control" ng-model="transactionToAdd.client_name" id="inputType">-->
                            <!--<option value="{{client}}" ng-repeat="client in clientList">{{client.FirstName}} {{client.LastName}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputComment">Comment</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputComment"
                                   placeholder="Comment" ng-model="transactionToAdd.comment"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="addTransaction('output')">ADD</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmDeleteTransactionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure you want to delete this transaction?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="deleteTransaction()" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="editTransactionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">EDIT TRANSACTION</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="transactionEditForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputAmount">Amount</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputAmount"
                                   placeholder="Amount" ng-model="transactionToEdit.amount"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputType">Type</label>
                        <select class="form-control" ng-model="transactionToEdit.type" id="inputType">
                            <option value="Client paid">Client paid</option>
                            <option value="Inventory filled">Inventory filled</option>
                            <option value="Communal payments">Communal payments</option>
                            <option value="Food">Food</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputComment">Comment</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputComment"
                                   placeholder="Comment" ng-model="transactionToEdit.comment"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="editTransaction()">EDIT</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>