<div id="clients">
    <div class="table-responsive">
        <div class="users-top">
            <a class="waves-effect waves-light btn modal-trigger" href="#addEventModal">ADD EVENT</a>
            <a class="waves-effect waves-light btn right grey" ng-click="getEvents() ">UPDATE LIST</a>
            <a class="waves-effect waves-light btn cyan" ng-click="getUpcomingEvents() ">UPCOMING EVENTS</a>
        </div>
    </div>
</div>

<div id="daysEventsModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="modal-title">{{daysEventsList.header}}</h4>
        <div class="row" >
            <div class="col s12 m6" ng-repeat="event in daysEventsList.events">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{event.clientname}}</span>
                        <span class="right card-title">{{event.dt | date:'HH:mm'}}</span>
                        <div class="desc">
                            <p>{{event.description}}</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn light-blue">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="waves-effect waves-light btn red darken-2">
                            <i class="material-icons">close</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addEvent()">ADD</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<div id="addEventModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">ADD EVENT</h4>
        <div class="row">
            <form class="col s12" name="eventAddForm">
                <div class="input-field">
                    <select ng-model="eventToAdd.client" id="inputClientName">
                        <option value="{{client}}" ng-repeat="client in clientList">{{client.FirstName}} {{client.LastName}}</option>
                    </select>
                    <label for="inputClientName">Client</label>
                </div>
                <div class="input-field">
                    <select ng-model="eventToAdd.doctor" id="inputDoctorName">
                        <option value="{{doctor}}" ng-repeat="doctor in doctorsList">{{doctor.name}}</option>
                    </select>
                    <label for="inputDoctorName">Doctor</label>
                </div>
                <div class="input-field">
                    <input type="text" class="validate" id="inputDescription"
                           ng-model="eventToAdd.description">
                    <label  for="inputDescription">Description</label>
                </div>
                <div class="input-field">
                    <input type="datetime-local" class="validate" id="inputDate"
                           ng-model="eventToAdd.dt">
                    <label for="inputDate">Date</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addEvent()">ADD</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div id="editEventModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">EDIT EVENT</h4>
        <div class="row">
            <form class="col s12" name="eventAddForm">
                <div class="input-field">
                    <select ng-model="eventToAdd.client" id="editInputClientName">
                        <option value="{{client}}" ng-repeat="client in clientList">{{client.FirstName}} {{client.LastName}}</option>
                    </select>
                    <label for="editInputClientName">Client</label>
                </div>
                <div class="input-field">
                    <select ng-model="eventToAdd.doctor" id="editInputDoctorName">
                        <option value="{{doctor}}" ng-repeat="doctor in doctorsList">{{doctor.name}}</option>
                    </select>
                    <label for="editInputDoctorName">Doctor</label>
                </div>
                <div class="input-field">
                    <input type="text" class="validate" id="editInputDescription"
                           ng-model="eventToAdd.description">
                    <label  for="editInputDescription">Description</label>
                </div>
                <div class="input-field">
                    <input type="datetime-local" class="validate" id="editInputDate"
                           ng-model="eventToAdd.dt">
                    <label for="editInputDate">Date</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="editEvent()">EDIT</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div id="confirmDeleteEventModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">Are you sure you want to delete this event?</h4>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="deleteEvent()">Delete</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

<crmcalendar selected="day" firstday="firstday"></crmcalendar>


