<div id="clients">
    <div class="row">
        <div class="col s12">
            <div class="clients-top">
                <a class="waves-effect waves-light btn modal-trigger light-blue darken-1" href="#addClientModal">ADD USER</a>
                <a class="waves-effect waves-light btn modal-trigger orange darken-2" href="#editClientsSchema" ng-click="prepareEditSchema()">EDIT SCHEMA</a>
                <a class="waves-effect waves-light btn right grey" ng-click="getClients() ">UPDATE LIST</a>
            </div>
            <div class="filters-menu">

            </div>
            <table ng-init="getClients()" class="highlight striped centered">
                <thead>
                <tr>
                    <th ng-repeat="field in clientsSchema" ng-click="changeSortType(field)">
                        {{field.title}}
                        <i class="material-icons" ng-show="sortType == field.field && !sortReverse">arrow_upward</i>
                        <i class="material-icons" ng-show="sortType == field.field && sortReverse">arrow_downward</i>
                    </th>
                    <th>Transactions</th>
                    <th>Client Info</th>
                    <th>Delete Client</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, client) in clientList | orderBy:sortType:sortReverse">
                    <td ng-repeat="field in clientsSchema">
                        {{client['' + field.field] | date:"dd.MM.yyyy 'at' HH:mm"}}
                    </td>
                    <td>
                        <a class="btn-floating btn-small waves-effect waves-light modal-trigger grey darken-2" href="#clientsTransactions" ng-click="getClientTransactions(client)">
                            <i class="material-icons">payment</i>
                        </a>
                    </td>
                    <td>
                        <a class="btn-floating btn-small waves-effect waves-light modal-trigger blue" href="#editClientModal" ng-click="prepareEditClient(client)">
                            <i class="material-icons">info_outline</i>
                        </a>
                    </td>
                    <td>
                        <a class="btn-floating btn-small waves-effect waves-light modal-trigger red" href="#confirmDeleteClientModal" ng-click="prepareDeleteClient(client.id)">
                            <i class="material-icons">close</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="addClientModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">ADD CLIENT</h4>
        <div class="row">
            <form class="col s12" name="clientAddForm">
                <div class="input-field" ng-repeat="field in clientsSchema track by $index">
                    <label for="input{{field.field}}">{{field.title}}</label>
                    <input type="{{field.type}}" class="validate datepicker" id="input{{field.field}}" ng-model="clientToAdd[''+field.field]"/>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addClient()">ADD</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div id="confirmDeleteClientModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">Are you sure you want to delete this client?</h4>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="deleteClient()">Delete</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

<div id="editClientModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">EDIT CLIENT</h4>
        <div class="row">
            <form class="col s12" name="clientAddForm">
                <div class="input-field" ng-repeat="field in clientsSchema track by $index">
                    <label for="input{{field.field}}">{{field.title}}</label>
                    <input type="{{field.type}}" class="validate" id="input{{field.field}}" placeholder="{{field.title}}" ng-model="clientToEdit[''+field.field]"/>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="editClient()">ADD</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div id="clientsTransactions" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">{{clientForTransactions.FirstName}} {{clientForTransactions.LastName}} Transactions</h4>
        <table class="striped highlight">
            <thead>
            <tr>
                <th ng-click="changeSortType('dt')">Date
                    <i class="material-icons" ng-show="sortType == 'dt' && !sortReverse">arrow_upward</i>
                    <i class="material-icons" ng-show="sortType == 'dt' && sortReverse">arrow_downward</i>
                    <!--<span ng-show="sortType == 'dt' && !sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>-->
                    <!--<span ng-show="sortType == 'dt' && sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>-->
                </th>
                <th ng-click="changeSortType('user_name')">User
                    <i class="material-icons" ng-show="sortType == 'user_name' && !sortReverse">arrow_upward</i>
                    <i class="material-icons" ng-show="sortType == 'user_name' && sortReverse">arrow_downward</i>
                    <!--<span ng-show="sortType == 'user_name' && !sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>-->
                    <!--<span ng-show="sortType == 'user_name' && sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>-->
                </th>
                <th ng-click="changeSortType('amount')">Amount
                    <i class="material-icons" ng-show="sortType == 'amount' && !sortReverse">arrow_upward</i>
                    <i class="material-icons" ng-show="sortType == 'amount' && sortReverse">arrow_downward</i>
                    <!--<span ng-show="sortType == 'amount' && !sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>-->
                    <!--<span ng-show="sortType == 'amount' && sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>-->
                </th>
                <th>Comment</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, transaction) in clientForTransactions.transactions | orderBy:sortType:sortReverse">
                    <td>
                        {{transaction.dt | date:"dd.MM.yyyy 'at' HH:mm"}}
                    </td>
                    <td>
                        {{transaction.user_name}}
                    </td>
                    <td>
                        {{transaction.amount}}
                    </td>
                    <td>
                        {{transaction.comment}}
                    </td>
                    <td>
                        <!--<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteTransactionModal" ng-click="prepareDeleteTransaction(transaction.id, transaction.login)">-->
                            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                        <!--</button>-->
                        <a class="waves-effect waves-light btn modal-trigger orange darken-2" href="#confirmDeleteTransactionModal" ng-click="prepareDeleteTransaction(transaction.id, transaction.login)">
                            <i class="material-icons">close</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div id="editClientsSchema" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">EDIT SCHEMA</h4>
        <div class="row">
            <form class="col s12" name="schemaEditForm">
                <div class="input-field" ng-repeat="field in editSchemaForm track by $index">
                    <div class="col s5">
                        <input type="{{field.title}}" class="validate" id="input{{field.field}}" value="field.title"
                               placeholder="{{field.title}}" ng-model="field.title"/>>
                    </div>
                    <div class="col s5">
                        <select class="validate" ng-model="field.type">
                            <option value="text">Text</option>
                            <option value="number">Number</option>
                            <option value="email">Email</option>
                            <option value="datetime-local">Date-Time</option>
                            <option value="checkbox">Checkbox</option>
                        </select>
                    </div>
                    <div class="col s4">
                        <a class="waves-effect waves-light btn red" ng-click="deleteField($index)">DELETE FIELD</a>
                    </div>
                </div>
                <div class="input-field" ng-if="new_field.show">
                    <div class="col s8">
                        <div class="col s5">
                            <input type="text" class="validate" value="new_field.title"
                                   placeholder="{{new_field.title}}" ng-model="new_field.title"/>
                        </div>
                        <div class="col s5">
                            <select class="validate" ng-model="new_field.type">
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                                <option value="email">Email</option>
                                <option value="datetime-local">Date-Time</option>
                                <option value="checkbox">Checkbox</option>
                            </select>
                        </div>
                        <div class="col s4">
                            <a class="waves-effect waves-light btn" ng-click="saveNewField()">SAVE</a>
                            <a class="waves-effect waves-light btn" ng-click="cancelNewField()">CANCEL</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col s2">
            <a class="waves-effect waves-light btn" ng-click="addNewField()">ADD FIELD</a>
        </div>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="editSchema()">SAVE</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>