<div id="clients">
        <div class="users-top">
            <a class="waves-effect waves-light btn modal-trigger light-blue darken-1" href="#addUserModal">ADD USER</a>
            <a class="waves-effect waves-light btn right grey" ng-click="getUsers()">UPDATE LIST</a>
        </div>
        <div class="filters-menu">

        </div>

        <table class="highlight striped centered" ng-init="getUsers()">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Transactions</th>
                    <th>User Info</th>
                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, user) in userList">
                    <td>
                        {{user.name}}
                    </td>
                    <td>
                        <i class="material-icons green-text" ng-show="user.status == 1">check_circle</i>
                        <i class="material-icons grey-text" ng-show="user.status == 0">remove_circle</i>
                    </td>
                    <td>
                        {{user.type}}
                    </td>
                    <td>
                        <a class="btn-floating btn-small waves-effect waves-light  grey darken-2" href="#">
                            <i class="material-icons">payment</i>
                        </a>
                    </td>
                    <td>
                        <a class="btn-floating btn-small waves-effect waves-light blue" href="#editUserModal" ng-click="prepareEditUser(user)">
                            <i class="material-icons">info_outline</i>
                        </a>
                    </td>
                    <td>
                        <a class="btn-floating btn-small waves-effect waves-light red" href="#confirmDeleteUserModal" ng-click="prepareDeleteUser(user.id, user.login)">
                            <i class="material-icons">close</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>

<div id="addUserModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">ADD USER</h4>
        <div class="row">
            <form class="col s12" name="userAddForm">
                <div class="input-field">
                    <input type="text" class="validate" id="inputName" ng-model="userToAdd.name">
                    <label for="inputName">Name</label>
                </div>
                <div class="input-field">
                    <input type="text" class="validate" id="inputLogin" ng-model="userToAdd.login">
                    <label for="inputLogin">Login</label>
                </div>
                <div class="input-field">
                    <input type="password" class="validate" id="inputPassword" ng-model="userToAdd.password">
                    <label for="inputPassword">Password</label>
                </div>
                <div class="input-field">
                    <select class="validate" ng-model="userToAdd.type" id="inputType">
                        <option value="dev">Dev</option>
                        <option value="owner">Owner</option>
                        <option value="cass">Cass</option>
                        <option value="reception">Reception</option>
                        <option value="doctor">Doctor</option>
                    </select>
                    <label for="inputType">Type</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addUser()">ADD</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div id="confirmDeleteUserModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">Are you sure you want to delete this user?</h4>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="deleteUser()">Delete</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

<div id="editUserModal" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">ADD USER</h4>
        <div class="row">
            <form class="col s12" name="userEditForm">
                <div class="input-field">
                    <input type="text" class="validate" id="editInputName" ng-model="userToAdd.name">
                    <label for="editInputName">Name</label>
                </div>
                <div class="input-field">
                    <input type="text" class="validate" id="editInputLogin" ng-model="userToAdd.login">
                    <label for="editInputLogin">Login</label>
                </div>
                <div class="input-field">
                    <input type="password" class="validate" id="editInputPassword" ng-model="userToAdd.password">
                    <label for="editInputPassword">Password</label>
                </div>
                <div class="input-field">
                    <select class="validate" ng-model="userToAdd.type" id="editInputType">
                        <option value="dev">Dev</option>
                        <option value="owner">Owner</option>
                        <option value="cass">Cass</option>
                        <option value="reception">Reception</option>
                        <option value="doctor">Doctor</option>
                    </select>
                    <label for="editInputType">Type</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="editUser()">EDIT</a>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>