body {
    font-family: 'Open Sans', sans-serif;
}
.login-panel {
    margin-top: 100px;
}
.dropdown-menu>li>a {
    font-size: 16px;
}
#home .navbar-header {
    float: initial;
    display: block;
}
#home .nav>li {
    display: inline-block;
}
#home .table-responsive {
    padding-top: 150px;
}
.navbar-header {
    width: 100%;
}
.nav>li>a {
    font-size: 16px;
    color: #ffffff;
}
.nav>li>p {
    margin: 0;
    font: 16px/16px 'Open Sans', sans-serif;
    display: block;
    padding: 10px 15px;
}
.nav>li>a:hover {
    color: #df691a;
}
.nav>li>a.active {
    color: #df691a;
}
#clients td {
    vertical-align: middle;
    font-size: 16px;
    font-weight: 700;
}
#clients th {
    font-size: 16px;
    font-weight: 700;
}
#clients {
    padding: 80px 30px 30px;
}
#clients .clients-top {
    padding-bottom: 15px;
}
#clients button {
    outline: none;
}
#clients table button {
    padding: 9px 8px 7px;
    width: 39px;
    border-radius: 21px;
}

.fc-toolbar button {
    color : #000000
}

.event-in-day {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    float: left;
}

.event-in-day-client {
    font-weight: bold;
}

.event-in-day-client, .event-in-day-descr {
    width: 100%;
    display: block;
}

.event-in-day-title , .event-in-day-time {
    width: 50%;
    float: left;
}
